@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}

svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: white;
	font-size: 100px;
}

@keyframes stroke {
	0%   {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3;}
	100% {fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0); stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;}
}

/* Fondo del texto "Galeria de Imagenes" Fondo blanco */
.wrapper {background-color: #04043c};
/* Fondo del texto "Galeria de Imagenes" Fondo blanco */

.clase_prueba{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    /* Alinea los headers tipo 1 y 3 al centro de la pagina */
    h1, h3 {text-align: center;}
     h4 {font-family:  Helvetica} 
    /* Boton del menu desplegable */
.dropbtn {
    background-color: #314a9b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* DIV que contiene el menu desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Contenido del menu desplegable, no se ve por defecto */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #162146;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links dentro del menu desplegable*/
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Cambiar el color al pasar el raton sobre el menu desplegable */
.dropdown-content a:hover {
    background-color: #324c9f;
}

/* Mostrar menu desplegable al mostrar el raton */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Cambiar el color del boton al ser mostrado */
.dropdown:hover .dropbtn {
    background-color: #213269;
}